name: Google Sheets Auth Test

on:
  workflow_dispatch:  # manual run button

jobs:
  auth-test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1093320976849/locations/global/workloadIdentityPools/job-seeker-aggregation/providers/github
          service_account: github-actions@ft-home-project.iam.gserviceaccount.com

      - name: Confirm auth
        run: gcloud auth list
