name: Extract Jobs

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  extract-jobs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1093320976849/locations/global/workloadIdentityPools/job-seeker-aggregation/providers/github
          service_account: github-actions@ft-home-project.iam.gserviceaccount.com

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python src/extract_jobs.py
